.top-header {
  @apply flex justify-between items-center flex-wrap bg-white px-4 py-2
   border-b z-40;
  @screen md {
    @apply sticky top-0;
  }
  .buttons {
    @apply flex items-center m-2 mr-0 flex-wrap;
  }
}

.dropdown-actions {
  min-width: 120px;
  max-width: 300px;
  @apply w-max text-dark border rounded-md shadow-sm bg-white overflow-hidden;
  a,
  .btn {
    @apply w-full flex items-center py-2 px-3 border-b border-gray-50 text-gray-600;
    &:last-child {
      @apply border-none;
    }
    i {
      @apply mr-4 text-lg;
    }
    &:hover {
      @apply text-primary bg-gray-50;
    }
    &.danger {
      @apply text-danger;
      &:hover {
        @apply text-danger;
      }
    }
  }
}

.container-1 {
  @apply flex flex-col items-center justify-center px-4 py-12;
  .details {
    @apply text-center;
  }
  img {
    width: 300px;
    max-width: 100%;
  }
  h3 {
    @apply mt-4;
  }
  p {
    @apply py-6;
  }
}

.center {
  @apply flex flex-col items-center;
}

.disable-content {
  @apply opacity-50 pointer-events-none;
}
